In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from email import utils
#from math import radians, sin, cos, acos,sqrt,atan2

In [2]:
# list of files to combine
Citibike23 = ['Resources6months2023/JC-202301-citibike-tripdata.csv','Resources6months2023/JC-202302-citibike-tripdata.csv','Resources6months2023/JC-202303-citibike-tripdata.csv','Resources6months2023/JC-202304-citibike-tripdata.csv','Resources6months2023/JC-202305-citibike-tripdata.csv']

In [3]:
# create empty list
dfCitibike23_list = []

In [4]:
# for loop to read the list of files int dataframe
for file in Citibike23:
    dfcitibike23 = pd.read_csv(file)
    dfCitibike23_list.append(dfcitibike23)

In [5]:
# concatenate all 6 months dataframe
dfcitibike23 = pd.concat(dfCitibike23_list,axis=0)

In [6]:
# show dataframe
dfcitibike23.dropna(inplace=True)
dfcitibike23.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [7]:
# show dataframe info
dfcitibike23.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346019 entries, 0 to 96001
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             346019 non-null  object
 1   rideable_type       346019 non-null  object
 2   started_at          346019 non-null  object
 3   ended_at            346019 non-null  object
 4   start_station_name  346019 non-null  object
 5   start_station_id    346019 non-null  object
 6   end_station_name    346019 non-null  object
 7   end_station_id      346019 non-null  object
 8   start_lat           346019 non-null  float64
 9   start_lng           346019 non-null  float64
 10  end_lat             346019 non-null  float64
 11  end_lng             346019 non-null  float64
 12  member_casual       346019 non-null  object
dtypes: float64(4), object(9)
memory usage: 37.0+ MB

In [8]:
# adding empty column Duration
dfcitibike23["Duration_min"] = ""

In [9]:
dfcitibike23["Duration_min"] = (pd.to_datetime(dfcitibike23["ended_at"]) - pd.to_datetime(dfcitibike23["started_at"])).dt.total_seconds()/60

In [10]:
# adding empty column Distance
dfcitibike23["Distance"] = ""

In [11]:
# dfcitibike23["Started Date"] = ""
# dfcitibike23["Started Time"] = ""

In [12]:
# dfcitibike23["Ended Date"] = ""
# dfcitibike23["Ended Time"] = ""

In [13]:
# dfcitibike23["Started Time"] = pd.to_datetime(dfcitibike23["started_at"]).dt.strftime('%H:%M:%S') 
# dfcitibike23["Ended Time"] = pd.to_datetime(dfcitibike23["ended_at"]).dt.strftime('%H:%M:%S')
# dfcitibike23 = dfcitibike23.astype({"Started Time": datetime, "Ended Time": float})
# dfcitibike23.info()

In [14]:
# dfcitibike23["Started Date"] = pd.to_datetime(dfcitibike23["started_at"]).dt.strftime('%Y-%m-%d') 
# dfcitibike23["Ended Date"] = pd.to_datetime(dfcitibike23["ended_at"]).dt.strftime('%Y-%m-%d')

In [15]:
# dfcitibike23["Duration"]=dfcitibike23["Ended Time"]-dfcitibike23["Started Time"]

In [16]:
# # Calculating & appending Duration
# dfcitibike23["Duration"]=pd.to_datetime(dfcitibike23["ended_at"])-pd.to_datetime(dfcitibike23["started_at"])

In [17]:
# Calculating & appending Distance
# Approximate radius of earth in km
R = 6373.0

import numpy as np

lat1 = np.radians(dfcitibike23["start_lat"])
lat2 = np.radians(dfcitibike23["end_lat"])
lng1 = np.radians(dfcitibike23["start_lng"])
lng2 = np.radians(dfcitibike23["end_lng"])
dlng = lng2 - lng1
dlat = lat2 - lat1

a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlng / 2)**2
c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

dfcitibike23["Distance"] = R*c

R=6373
for index,row in dfcitibike23.iterrows():
    lat1=radians(row["start_lat"])
    lon1=radians(row["start_lng"])
    lat2=radians(row["end_lat"])
    lon2=radians(row["end_lng"])
    
    dlon=lon2-lon1
    dlat=lat2-lat1
    
    a=sin(dlat/2)**2 + cos(lat2)*sin(dlon/2)**2
    c=2*atan2(sqrt(a),sqrt(1-a))
    
    dfcitibike23.at[index,"distance"]=R*c

In [18]:
# show dataframe
dfcitibike23.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Duration_min,Distance
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member,10.700000,1.497317
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member,8.250000,0.974037
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member,5.566667,1.156913
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member,7.083333,1.496743
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member,3.983333,0.671198

In [19]:
dfcitibike23.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346019 entries, 0 to 96001
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             346019 non-null  object
 1   rideable_type       346019 non-null  object
 2   started_at          346019 non-null  object
 3   ended_at            346019 non-null  object
 4   start_station_name  346019 non-null  object
 5   start_station_id    346019 non-null  object
 6   end_station_name    346019 non-null  object
 7   end_station_id      346019 non-null  object
 8   start_lat           346019 non-null  float64
 9   start_lng           346019 non-null  float64
 10  end_lat             346019 non-null  float64
 11  end_lng             346019 non-null  float64
 12  member_casual       346019 non-null  object
 13  Duration_min        346019 non-null  float64
 14  Distance            346019 non-null  float64
dtypes: float64(6), object(9)
memory usage: 42.2+ MB

In [20]:
dfcitibike23.to_csv('Resources6months2023/citibike23.csv')